@media (max-width: 1280px) {
  .down-arrow {
    display: none;
  }

  .about-us {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .logo {
    display: none;
  }
}

@media (max-width: 750px) {
  body {
    overflow: scroll;
  }

  .container {
    height: auto;
  }

  .left-container {
    display: none;
  }

  .right-container {
    padding: 0px 40px;
  }

  .social-links {
    display: none;
  }
}

@media (max-width: 700px) {
  .nav-items::before {
    display: none;
  }

  .nav-items {
    justify-content: center;
  }

  .btn {
    margin-top: 40px;
  }

  .bottom-section {
    padding-top: 40px;
  }
}

@media (max-width: 620px) {
  .heading h1 {
    font-size: 80px;
  }

  .heading h1 span {
    padding-left: 90px;
  }

  .heading h3 {
    font-size: 20px;
  }

  .bottom-section {
    flex-direction: column;
    gap: 40px;
  }

  .services {
    gap: 25px;
  }

  .services::before {
    display: block;
    width: 100%;
    height: 1px;
    position: static;
  }

  .services li::before {
    right: 15px;
  }

  .services li:first-child {
    right: 0px;
  }

  .services li:first-child::before {
    height: 9px;
    width: 9px;
  }

  .about-us {
    width: 100%;
  }
}

/* @media (max-width: 520px) {
  .heading h1 {
    font-size: 60px;
  }

  .heading h1 span {
    padding-left: 70px;
  }

  .heading h3 {
    font-size: 20px;
    position: static;
  }

  .nav-items {
    gap: 35px;
  }
} */
