@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins";
  font-weight: 500;
}

body {
  background-color: #f5f2f0;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
}

.left-container {
  width: 450px;
  height: 100%;
  background-image: url(../assets/jpg-images/pexels-rfstudio-3819572.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 110px;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 40px;
}

.right-container {
  flex: 1;
  padding: 0px 60px;
}

.navbar {
  padding-top: 30px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-items::before {
  content: "";
  display: inline-block;
  flex: 1;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-items li a {
  font-size: 17px;
  color: #959595;
}

.nav-items li:first-child a {
  color: #333333;
}

.top-section {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.heading {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}

.heading h1 {
  font-size: 95px;
  font-weight: 700;
  font-family: "Segoe UI";
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px #333333;
}

.heading h1 span {
  padding-left: 110px;
  font-weight: 600;
  color: #333333;
}

.heading h3 {
  font-size: 24px;
  color: #848585;
  position: relative;
  bottom: 4px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.social-links img {
  width: 22px;
  transition: transform 300ms ease;
}

.social-links img:hover {
  transform: scale(1.2);
}

.social-links li:nth-child(3) img {
  width: 14px;
}

.btn {
  margin-top: 20px;
  text-align: right;
}

.btn button {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #f5f2f0;
  background-color: #333333;
  border: none;
  transition: opacity 300ms ease;
}

.btn button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.bottom-section {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.services {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.services::before {
  content: "";
  display: inline-block;
  height: 270px;
  width: 1px;
  background-color: #848585;
  position: absolute;
  left: -14px;
  top: 10px;
}

.services li {
  font-size: 16px;
  color: #848585;
}

.services li:first-child {
  color: #333333;
  position: relative;
  right: 2px;
}

.services li::before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #848585;
  position: relative;
  right: 18px;
}

.services li:first-child::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #333333;
}

.about-us {
  width: 50%;
}

.quotes {
  width: 44px;
}

.about-us p {
  padding-bottom: 12px;
  font-size: 16px;
  color: #333333;
}

.dance {
  width: 100%;
}

.down-arrow {
  width: 80px;
  height: 120px;
  align-self: center;
}
